/* tablet & mobile*/
@media screen and (max-width: 991.98px) {
    .header-tablet-phone {
        display: block;
    }
    .navbar {
        position: relative;
    }
    .navbar ul {
        display: none;
    }
    .icon-menu {
        display: block;
        width: 24px;
        color: #0f1b4c;
    }
    .navbar > a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-opacity {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        transition: opacity 0.4s ease, visibility 0.4s ease;
        opacity: 0;
        visibility: hidden;
    }

    .nav__menu-tablet-phone {
        padding: 50px;
        position: fixed;
        transition: transform 0.4s ease;
        transform: translateX(-100%);
        inset: 0 40% 0 0;
        background: #fff;
    }
    .action {
        margin-left: auto;
    }
    .logo-phone-tablet {
    }
    .menu-phone-tablet {
        margin-top: 32px;
    }
    .menu-phone-tablet a {
        padding: 14px 0;
        display: block;
        color: #4f5361;
        font-weight: 500;
    }
    .separate-menu {
        border-top: 1px solid #ccc;
    }
    .hero-img {
        display: none;
    }
    .hero .info {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    .hero-wrap {
        height: calc(100vh - 320px);
    }
    .hero .desc {
        margin: 0 auto;
        width: 88%;
    }
    .hero .hero-cta {
        margin-top: 20px;
    }
    .client .client-logo {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .guide-item {
        flex: 1;
        margin: 0;
    }
    .Featured .list-featured {
        grid-template-columns: repeat(2, 1fr);
    }
    .row-stat {
        flex-flow: column;
        align-content: center;
        justify-content: center;
        gap: 32px;
    }
    .Stats .main-img {
        order: 2;
        width: 600px;
        height: 700px;
        margin: 0 auto;
    }
    .Stats .main-img .image {
        width: 600px;
        height: 700px;
    }
    .Stats .main-content {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 0;
    }
    .Stats .main-content .title::before {
        left: 50%;
        transform: translateX(-50%);
    }
    .Stats .main-content .title {
        width: 60%;
    }
    .Stats .main-content .desc {
        width: 70%;
    }
    .row-qty .qty-title {
        font-size: 5rem;
    }
    .row-qty .qty-desc {
        font-size: 1.6rem;
    }
    .subscribe .thumb {
        display: none;
    }
    .footer .row-top {
        display: grid;
        row-gap: 64px;
        grid-template-columns: 1fr 2fr;
    }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}
/* mobile */
@media screen and (max-width: 767.98px) {
    .nav__menu-tablet-phone {
        padding: 30px;
        inset: 0 25% 0 0;
    }
    .action {
        display: none;
    }
    .show-on-mobile {
        display: block;
    }
}
